.editor-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 651px) {
  .ce-block__content, .ce-toolbar__content {
    max-width: calc(100% - 120px) !important;
    margin: 0 60px;
  }
}

.cdx-block {
  max-width: 100% !important;
}

.save-button {
  border: 1px solid black;
  padding: 4px;
  margin-top: 16px;
}