# Ignore node_modules and npm debug files
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment files
.env

# Ignore other unnecessary files
.DS_Store
.git
.gitignore
.vscode
*.log

# User uploads folder
uploads